<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="Your App Name">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html">
    <![CDATA[
      <script src="//hangoutsapi.appspot.com/static/hangout.js"></script>
      <script src="//supporthangout.heroku.com/javascripts/main.js"></script>
      <script src="http://localhost:3000/javascripts/scratch.js"></script>
      <!-- Your application code -->
    ]]>
  </Content>
</Module>
